body {
	background-color: #f5f5f5
}

h1 {
	font-family: 'Nixie One', cursive;
	color: #f5f5f5;
	text-align: center;
}

p {
	text-align: center;
}

.header {
	background-color: #333333;
	width: 50%;
	margin: 0 auto;
	border-radius: 5px;
}

input {
	margin: 0 auto;
}
